<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.roe.smarthouseapp">

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LivingRoomActivity" />
        <activity android:name=".KitchenActivity" />
        <activity android:name=".HouseActivity" />
        <activity android:name=".AutomobileActivity" />

        <activity android:name=".Microwave"
            android:theme="@style/AppTheme2"/>

        <activity
            android:name=".Fridge"
            android:label="Fridge"
            android:theme="@style/AppTheme2" />

        <activity
            android:name=".MainLight"
            android:label="MainLight"
            android:theme="@style/AppTheme2"/>
    </application>

</manifest>