<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.roe.smarthouseapp">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LivingRoomActivity" />
        <activity android:name=".KitchenActivity" />
        <activity android:name=".HouseActivity" />
        <activity android:name=".AutomobileActivity" />
        <activity android:name=".Fridge" />
        <activity android:name=".Kitchen" />
        <activity android:name=".MainLight" />
        <activity android:name=".Microwave" />
        <activity android:name=".lr_fragmentholder" />


        <activity
            android:name=".WeatherForecast"
            android:label="@string/title_activity_weather_forecast"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SingleListItem"
            android:label="Single Item Selected" />
        <activity
            android:name=".ActivityGarage"
            android:label="@string/title_activity_garage"
            android:theme="@style/AppTheme" />
        <activity android:name=".HouseTempActivity" />
        <activity android:name=".ActivityTempPicker" /><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->

    </application>

</manifest>